@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.Mark {
    padding: 50px;
    background: var(--backgroundC);
    border-radius: 15px;
    min-height: 650px;
    margin-top: 50px;
    width: clamp(600px, 40vw, 800px);
}

@media (max-width: 1100px) {
    .Mark {
        padding: 20px;
        width: clamp(200px, 85vw, 700px);
    }
}

@media (max-width: 300px) {
    .Mark {
        width: clamp(200px, 80vw, 700px);
    }
}

.info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
}

.info h2 {
    transition: .2s;
    background: rgb(196, 137, 59);
    padding: 15px;
    border-radius: 10px;
    width: auto;
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.info h2 {
    cursor: pointer;
}

.info p {
    background: rgb(242, 242, 242);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(0, 0, 0, 0.71);
    padding: 15px;
    border-radius: 10px;
    transition: .2s;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    hyphens: auto;
}

@media (max-width: 500px) {
    .info p {
        max-width: 95%;
    }
}


.info p:hover {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.49);
    transition: .2s;
}

.info span {
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 150px;
    -moz-user-select: text;
    -webkit-user-select: text;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 25px;
}

.info span::selection {
    color: rgba(255, 255, 255, 0.73);
    background-color: rgba(0, 0, 0, 0.77);
}