
.Mark {
    padding: 50px;
    background: var(--backgroundC);
    border-radius: 15px;
    min-height: 650px;
    margin-top: 50px;
}

@media (max-width: 500px) {
    .Mark {
        padding: 10px;
    }
}

.Navigation {
    display: flex;
    align-items: flex-end;
    height: 60px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
}

.backButton {
    margin-left: 15px;
}

.backButton img {
    width: 27px;
    height: 25px;
    transition: .4s;
    cursor: pointer;
}

.backButton img:hover {
    transition: .4s;
    opacity: .4;
}

.wrapper {
    display: flex;
    gap: 10px;
    margin-right: 25px;
}

.wrapper button {
    border: none;
    background: none;
    cursor: pointer;
}

.wrapper button img {
    transition: .4s;
    width: 27px;
    height: 27px;
}

.wrapper button:hover img {
    transition: .4s;
    opacity: .4;
}

.info h2,
.TitleArea {
    transition: .2s;
    background: rgb(196, 137, 59);
    padding: 15px;
    border-radius: 10px;
    width: auto;
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.info h2:hover {
    transition: .2s;
    opacity: .8;
    cursor: pointer;
}

.TitleArea {
    resize: none;
    outline: none;
    width: 95%;
    height: 100px;
    font-size: 18px;
}

.ContentArea {
    resize: none;
    margin-top: 30px;
    margin-bottom: 25px;
    width: 95%;
    height: 500px;
}

.info p {
    color: rgba(0, 0, 0, 0.81)
}

.info p,
.ContentArea {
    font-family: 'Signika', sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.51);
    padding: 15px;
    border-radius: 10px;
    transition: .2s;
}

.info p:hover {
    cursor: pointer;
    border: 2px solid black;
    color: black;
    transition: .2s;
}

.info span {
    font-weight: 600;
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 150px;
}