@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.modalWindow {
    width: 100%;
    height: 100%;
    background-color: rgba(39, 39, 39, 0.452);
    backdrop-filter: blur(8px);
    z-index: 10;
    position: fixed;
    display: grid;
    place-items: center;
}

.content {
    background: #efefef;
    border-radius: 15px;
    overflow: hidden;
}

@media (max-width: 500px) {
    .content {
        width: 95%;
        margin-left: 2.5%;
        height: 80%;
    }
}

@media (max-width: 300px) {
    .content {
        height: 97%;

    }
}

.btnPos {
    width: 100%;
    display: grid;
    place-items: center;
    transition: .2s;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

.btnPos:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: .2s;
}
