.menu {
    position: fixed;
    width: 100px;
    height: 100%;
    background: white;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.103);
    z-index: 6;
    display: flex;
    align-items: center;
}

.menu_open_start {
    animation: MenuOpen .5s;
    -webkit-animation: MenuOpen .5s;
}


.menu_close_start {
    animation: MenuClose .5s;
    -webkit-animation: MenuClose .5s;
}

@keyframes MenuOpen {
    0% {
        transform: translateX(-100px);
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
    }

    100% {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }
}

@keyframes MenuClose {
    0% {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }

    100% {
        transform: translateX(-100px);
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
    }
}

.menuButtons {
    width: 100px;
    height: 600px;
    list-style-type: none;
    padding: 0;
    padding-left: 25%;
}

.button {
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 41px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    cursor: pointer;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.buttonSRM:hover,
.buttonSRMActive {
    box-shadow: 0 0 20px rgb(177, 78, 78);
    background: rgb(180, 89, 89);
}

.buttonConsole:hover,
.buttonConsoleActive {
    box-shadow: 0 0 20px rgb(24, 185, 18);
    background: rgb(24, 185, 18);
}

.buttonCalc:hover,
.buttonCalcActive {
    box-shadow: 0 0 20px rgb(223, 201, 5);
    background: rgb(223, 201, 5);
}

.buttonSettings:hover,
.buttonSettingsActive {
    box-shadow: 0 0 20px rgb(13, 162, 199);
    background: rgb(13, 162, 199);
}

.buttonDownload:hover,
.buttonDownloadActive {
    box-shadow: 0 0 20px rgb(152, 59, 196);
    background: rgb(152, 59, 196);
}

.buttonTodo:hover,
.buttonTodoActive {
    box-shadow: 0 0 20px rgb(196, 137, 59);
    background: rgb(196, 137, 59);
}

.button_img {
    width: 46px;
    height: 46px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    pointer-events: none;
}

.button:hover .button_img,
.buttonDownloadActive img,
.buttonSettingsActive img,
.buttonCalcActive img,
.buttonConsoleActive img,
.buttonSRMActive img,
.buttonTodoActive img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    width: 40px;
    height: 40px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

@media (max-width: 768px) {
    .menu {
        width: 300px;
        height: 50px;
        z-index: 3;
        margin-left: 13%;
        margin-top: 70px;
        border-radius: 15px;
    }

    .menuButtons {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .button {
        width: 50px;
        height: 40px;
        margin-top: 5px;
        flex-grow: 5;
    }

    @keyframes MenuOpen {
        0% {
            transform: translateY(-50px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    @keyframes MenuClose {
        0% {
            transform: translateY(0px);
        }

        100% {
            transform: translateY(-60px);
        }
    }

    .button_img {
        width: 32px;
        height: 32px;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
        pointer-events: none;
    }

    .button:hover .button_img,
    .buttonDownloadActive img,
    .buttonSettingsActive img,
    .buttonCalcActive img,
    .buttonConsoleActive img,
    .buttonSRMActive img,
    .buttonTodoActive img {
        -webkit-filter: invert(100%);
        filter: invert(100%);
        width: 28px;
        height: 28px;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
    }
}