@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap');

:root {
    --backgroundC: rgb(35, 35, 35);
    --TextC: rgba(253, 251, 255, 0.7);
}

.main {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    width: max(500px, 70vw);
}

.TodoUl {
    list-style-type: none;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, clamp(300px, 30%, 700px));
    grid-column-gap: 2.5%;
    grid-row-gap: 25px;
    background: var(--backgroundC);
    border-radius: 15px;
}

.TodoLi {
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    cursor: pointer;
    height: 150px;
    padding: 10px;
    position: relative;
    color: var(--TextC);
}

.TodoLi:hover::before {
    opacity: 1;
    transition: 0.2s;
}

.TodoLi::before {
    content: "";
    background: radial-gradient(
            800px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.1),
            transparent 50%
    );
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.2s;
}

.TodoLi p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.TodoButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.TodoButtons button {
    height: 30px;
    width: 30px;
}

.CleanList {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    background: var(--backgroundC);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--TextC);
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}
