
.Navigation {
    display: flex;
    align-items: flex-end;
    height: 60px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.backButton {
    margin-left: 15px;
    filter: var(--MenuButtonInvert);
}

.backButton img {
    width: 30px;
    height: 25px;
    transition: .4s;
    cursor: pointer;
}

.backButton img:hover {
    transition: .4s;
    opacity: .4;
}

.wrapper {
    display: flex;
    gap: 20px;
}

.wrapper button {
    border: none;
    background: none;
    cursor: pointer;
}

.wrapper button img {
    transition: .4s;
    width: 25px;
    height: 25px;
}

@media (max-width: 500px) {
    .wrapper button img {
        width: 25px;
        height: 25px;
    }

    .backButton img {
        width: 25px;
        height: 20px;
    }
}

.wrapper button:hover img {
    transition: .4s;
    opacity: .4;
}

.EditIMG {
    transform: rotate(90deg);
}
