
.ValueInfo {
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    cursor: pointer;
    transition: .4s;
}

.ValueInfo:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.42);
    transition: .4s;
}

.Course {
    display: flex;
    margin-top: 15px;
}


.NewData {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #1F2937;
    font-size: 25px;
    line-height: 2.5rem;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
}

.pastData b {
    margin-left: 20px;
    margin-right: 10px;
    user-select: none;
}

.pastData > b > img {
    width: 20px;
    height: 20px;
    margin-bottom: -3px;
    opacity: .5;
}

@media (max-width: 500px) {
    .pastData > b > img {
        margin-bottom: -5px;

    }
}

.pastData {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    line-height: 2.5rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, 0.39);
}

@media (max-width: 500px) {
    .NewData {
        font-size: 20px;
    }

    .pastData {
        font-size: 15px;
    }

}

.percent {
    font-weight: 600;
    display: flex;
}

.percent svg {
    margin-top: 2px;
}

.ValuteInfo {
    display: flex;
    font-family: 'Kanit', sans-serif;
    gap: 25px;
}

.ValuteInfo h3 {
    padding: 0;
    margin: 0;
    font-size: 20px;
    margin-bottom: 5px;
}

.ValuteInfo h6 {
    padding: 0;
    margin: 0;
    color: rgba(0, 0, 0, 0.29);
    font-size: 12px;
    position: absolute;
}

