.block_visible {
    animation: BlockOn .5s;
    -webkit-animation: BlockOn .5s;
}

.block_close {
    animation: BlockOff .5s;
    -webkit-animation: BlockOff .5s;
}

@keyframes BlockOn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes BlockOff {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.app {
    height: 100%;
    padding-top: 0.1px;
    min-height: 100vh;
}