body {
    margin: 0;
    padding: 0;
    background: rgb(245, 244, 244);
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
}

html {
    min-height: 100vh;
    min-width: 100vw;
}

#WebBody {
    min-height: 100vh;
}