body {
    margin: 0;
    padding: 0;
    background: rgb(245, 244, 244);
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    touch-action: manipulation;
    user-select: none;
}

html {
    min-height: 100vh;
    min-width: 100vw;
    scroll-behavior: smooth;
}

#WebBody {
    min-height: 100vh;
}

body::-webkit-scrollbar {
    width: 12px; /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
    background: none; /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.43); /* цвет бегунка */
    border-radius: 1px; /* округлось бегунка */
}

* {
    -webkit-tap-highlight-color: transparent;
}