@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

.settings {
    width: 100%;
    margin-bottom: 25px;
    margin-top: 25px;
    display: grid;
    place-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
    gap: 50px;
}

@media (max-width: 500px) {
    .settings {
        gap: 45px;
        grid-template-columns: repeat(1, auto);
        margin-top: 90px;
    }
}

@media (max-width: 300px) {
    .settings {
        margin-top: 55px;
    }
}

.params {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 24px;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: -6px -6px 14px var(--ParamsBoxShadow1),
    -6px -6px 10px var(--ParamsBoxShadow2),
    6px 6px 8px var(--ParamsBoxShadow3),
    6px 6px 10px var(--ParamsBoxShadow4);
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    color: var(--MarkTextColor);
}


.params:hover {
    box-shadow: -2px -2px 6px var(--ParamsBoxShadow1),
    -2px -2px 4px var(--ParamsBoxShadow2),
    2px 2px 2px var(--ParamsBoxShadow3),
    2px 2px 4px var(--ParamsBoxShadow4);
}

.paramsActive {
    box-shadow: inset -5px -5px 6px var(--ParamsBoxShadow1),
    inset -5px -5px 4px var(--ParamsBoxShadow2),
    inset 5px 5px 2px var(--ParamsBoxShadow3),
    inset 5px 5px 4px var(--ParamsBoxShadow4);
    color: var(--HeaderLogo);
}

.paramsActiveImg {
    margin-top: 10px;
    height: 30px;
    width: 30px;
    opacity: .8;
}

.paramsActive:hover {
    box-shadow: inset -2px -2px 6px var(--ParamsBoxShadow1),
    inset -2px -2px 4px var(--ParamsBoxShadow2),
    inset 2px 2px 2px var(--ParamsBoxShadow3),
    inset 2px 2px 4px var(--ParamsBoxShadow4);
}

.paramsImg {
    margin-top: 10px;
    height: 30px;
    width: 30px;
    opacity: .6;
}