.main {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

.content {
    width: clamp(700px, 60%, 1500px);
    display: flex;
    flex-direction: column;
    gap: 200px;
}

@media (max-width: 900px) and (min-width: 500px) {
    .main {
        width: 95%;
        padding-top: 150px;
    }
}

@media (max-width: 500px) {
    .content {
        width: 95%;
    }
}

@media (max-width: 375px) {
    .content {
        gap: 100px;
    }
}