@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

.bonuses {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bonuses h2 {
    font-family: 'Montserrat', sans-serif;
    border-bottom: 4px solid var(--HeaderLogo);
    padding-bottom: 10px;
    color: var(--HeaderLogo);
}

.bonusList {
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.bonusList li {
    display: flex;
    gap: 30%;
    width: 50%;
    background: var(--Secondary);
    height: 80px;
    border-radius: 10px;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    box-shadow: 0 0 0 0.8em rgba(255, 255, 255, 0);
    transition: .4s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.bonusList li:hover {
    animation: cardAnimacion 0.4s;
    transition: .4s;
}

@keyframes cardAnimacion {
    0% {
        box-shadow: 0 0 0 0 var(--BonusListLiBoxShadow);
    }
}

.bonusList li h1 {
    font-size: 25px;
    color: green;
}

.bonusList li p {
    font-size: 15px;
    font-weight: 600;
    color: var(--HeaderLogo);
}

@media (max-width: 500px) {
    .bonusList li {
        width: 95%;
    }
}

.BonusMultiplerList ul {
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
    gap: 25px;
}

@media (max-width: 500px) {
    .BonusMultiplerList ul {
        gap: 3%;
    }
}

@media (max-width: 350px) {
    .BonusMultiplerList ul {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-row-gap: 15px;
    }
}

.BonusMultiplerList li {
    cursor: pointer;
    font-family: 'Bruno Ace SC', cursive;
    border-radius: 15px;
    padding: 8px;
    font-size: 15px;
    border: 2px solid var(--BonusListLiBoxShadow);
    color: var(--DownloadHoverTextColor);
    background: var(--MarkHoverColor);
    transition: .3s;
}

.BonusMultiplerList ul:hover > :not(:hover) {
    opacity: .3;
    transition: .3s;
}